<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/src/assets/images/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <%= if !System.get_env("PHX_SERVER") do %>
    <script type="module">
      //  import RefreshRuntime from "http://localhost:5173/@react-refresh";
      //  RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <script type="module" src="http://localhost:5173/@vite/client">
    </script>
    <script type="module" src="http://localhost:5173/src/main.js">
    </script>
  <% else %>
    <link phx-track-static rel="stylesheet" href={~p"/src/assets/main.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/src/assets/main.js"}
    >
    </script>
  <% end %>
  <body>
    <div id="app"></div>
    <%= @inner_content %>
  </body>
</html>
